<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WaitTimeSeconds" value="1000"/>
    <add key="NobillCallsServiceUserName" value="transfercredit"/>
    <add key="NobillCallsServicePassword" value="p@ssw0rd"/>
    <add key ="smsShortCode" value="300646"/>
  </appSettings>

  <connectionStrings>
    <add name="CreditTransferEntities" connectionString="metadata=res://*/DataAccess.CreditTransfer.csdl|res://*/DataAccess.CreditTransfer.ssdl|res://*/DataAccess.CreditTransfer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.4.1.44;Initial Catalog=CreditTransfer;Persist Security Info=True;User ID=sa;Password=P#ssw-rd098;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
